@import-normalize;

:root {
   --main-color: #449342;
   --secondary-color: #2ba6ec;
   --third-color: #02353C;
   --main-transition: 0.5s;
   --main-gap: 40px;
   --main-box-shodow: #eee 0px 3px 8px;
   --main-line-height: 1.7;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
}

html {
   scroll-behavior: smooth;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

body {
   font-family: 'Open Sans', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

/* Small  */

@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}

/* Medium */

@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}

/* Large  */

@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}

/* End global rules  */