.form-container {
   .container {
      h1 {
         text-align: center;
         padding: 40px 0;
      }

      form {
         padding: 0 20%;
      }

      form>div {
         margin-bottom: 20px;
      }

      button {
         margin-top: 20px;
         margin-bottom: 20px;
      }
   }
}

@media (max-width: 992px) {
   .form-container {
      .container {
         form {
            padding: 0;
         }
      }
   }
}