.form-container {
   padding: 0 25%;
   h1 {
      text-align: center;
      padding: 40px 0;
   }
   form > div {
      margin-bottom: 20px;
   }
   button {
      margin-top: 20px;
      margin-bottom: 20px;
   }
}