.navigation {
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   .logo-container {
      height: 100%;
      padding-left: 25px;
      img {
         height: 100%;
      }
   }
   nav {
      height: 100%;
      padding-right: 25px;
   }

   ul {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
         padding: 10px 15px;
         cursor: pointer;
      }
   }
}
@media (max-width: 992px) {
   .navigation {
      nav {
         height: 100%;
         padding-right: 25px;
      }
   
      ul {
         display: none;
         li {
            padding: 10px 15px;
            cursor: pointer;
         }
      }
   }
}