.registration-alert-container {
   padding: 0 20px;
   width: 100%;
   height: calc(100vh - 80px);
   background-color: var(--background-main-color);
   display: flex;
   justify-content: center;
   align-items: center;
   .alert {
      max-width: 400px;
      background-color: white;
      border-radius: 6px;
      box-shadow: var(--main-box-shadow);
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .icon {
         font-size: 80px;
         font-weight: 700;
      }
      .mail {
         color: var(--secondary-color);
      }
      .success {
         color: var(--main-color);
      }
      p {
         margin: 30px 0;
         text-align: center;
         color: #666;
      }
   }
}