.join-us {
   padding-top: 80px;

   h1 {
      font-size: 54px;
      text-align: center;
   }
   .container {

      padding-top: 80px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 50px;
   }
}


@media (max-width: 768px) {
   .join-us .container {
      padding-top: 50px;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 40px;
   }
}